---
import '../styles/global.css'; // 전역 스타일 파일 임포트
---
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
  </head>
  <body>
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HRKZRKJ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <slot />

    <script is:inline>
      document.addEventListener('astro:page-load', () => {
        if (typeof window !== 'undefined') {
          const urlParams = new URLSearchParams(window.location.search);
          const queryString = urlParams.toString() ? `?${urlParams.toString()}` : '';
          const links = document.querySelectorAll('a:not([icon="external"]):not([href^="http"])');
          links.forEach(link => {
            if (!link.href.includes('?')) link.href += queryString;
          });

          const utmData = {
            utm_source: urlParams.get('utm_source') || '(not set)',
            utm_medium: urlParams.get('utm_medium') || '(not set)',
            utm_campaign: urlParams.get('utm_campaign') || '(not set)'
          };
          window.dataLayer = window.dataLayer || [];
          if (!window.dataLayer.some(item => item.utm_source === utmData.utm_source)) {
            window.dataLayer.push(utmData);
            console.log('dataLayer UTM:', utmData);
          }
        }
      });
    </script>
  </body>
</html>