---
---
<html>
  <head>
    <!-- head 내용 -->
  </head>
  <body>
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HRKZRKJ"
        height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <slot />

    <script is:inline>
      document.addEventListener('astro:page-load', () => {
        const urlParams = new URLSearchParams(window.location.search);
        const utmParams = ['utm_source', 'utm_medium', 'utm_campaign'];
        let hasUtm = false;

        utmParams.forEach(param => {
          const value = urlParams.get(param);
          if (value) {
            localStorage.setItem(param, value);
            hasUtm = true;
          }
        });

        // dataLayer에 로컬 스토리지의 UTM 전송
        const utmData = {
          utm_source: localStorage.getItem('utm_source') || '(not set)',
          utm_medium: localStorage.getItem('utm_medium') || '(not set)',
          utm_campaign: localStorage.getItem('utm_campaign') || '(not set)'
        };

        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push(utmData);
        console.log('dataLayer UTM:', utmData);
      });
    </script>
  </body>
</html>