---
// Layout.astro의 frontmatter (필요 시)
---
<html>
  <head>
    <!-- head 내용 -->
  </head>
  <body>
    <!-- body 내용 -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HRKZRKJ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
  </body>
</html>