---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { Card, LinkButton } from "@astrojs/starlight/components";
---

<StarlightPage frontmatter={{ title: 'KOREC CAREER EXPO 2025', description: '...' }}>
  <h2>π“ μΌμ •</h2>
  <h4>2025λ…„ 7μ›” 11μΌ(κΈ) 11:00~ </h4>
  <h5>β€Ά λ…λ™ μ¨μ¦λ“λ΅¬ </h5>
  <p>μ„μΈνΉλ³„μ‹ μ¤‘κµ¬ ν‡΄κ³„λ΅ 115 λ…λ™ λ°€λ¦¬μ¤λ νΈν…” PHμΈµ</p>

  <br/><h2>π“ μ†κ°</h2>
  <p>SEGA, μ‚¬μ΄λ²„ μ—μ΄μ „νΈ λ“± μ°λ‰κΈ°μ—… 10κ°μ‚¬κ°€ μ°Έκ°€ν•λ” μµλ€ κ·λ¨ μ±„μ© μ΄λ²¤νΈ!</p>

  <LinkButton href="https://cafe.naver.com/koreccafe/9475" variant="primary" icon="external"target="_blank">
    μμ„Έν• μ •λ³΄ λ³΄κΈ°
  </LinkButton>

</StarlightPage>