---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { Card, LinkButton } from "@astrojs/starlight/components";
---

<StarlightPage frontmatter={{ title: '초보자를 위한 자기분석 WS', description: '...' }}>
  <h2>📌 일정</h2>
 <h4>7월 업데이트 예정!</h4>

  <br/><h2>📝 소개</h2>
  <p>일본 취업의 기본이 되는 자기분석이 무엇인지를 배우며, <br />자기분석 TIPS를 바탕으로 실천해 보는 기회! <br />
<br />대상:
<br />- 일본취업 준비를 시작한지 얼마 안 된 사람
<br /><br />- ES나 면접에서 어떤 이야기를 해야할 지 모르는 사람
<br /><br />- 자기 분석의 중요성은 이해하지만 분석방법을 모르는 사람
이러한 의문점과 불안함을 자기분석 워크숍에서 해소해봅시다✨ </p>

  <LinkButton href="https://reserva.be/korec2019/reserve?mode=service_staff&search_evt_no=10eJwzNjA3NLUEAAQ6ATo&ctg_no=15eJwzMjEwAAAB-ADH" target="_blank" icon="external">
    신청하기
  </LinkButton>
</StarlightPage>