---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { Card, LinkButton } from "@astrojs/starlight/components";
---

<StarlightPage frontmatter={{ title: 'KOREC MeetUp', description: '...' }}>
  <h2>📝 소개</h2>
  <p><b>KOREC의 대표적인 이벤트이며, 내정을 빠르게 획득할 수 있는 이벤트!</b>
<br /><br />✓다양한 업계의 기업을 <b>한국</b>에서 알아보고 싶다!
<br /><br />✓일본 기업의 인사 담당자와 직접 대화하고 싶다! 
<br /><br />✓일본 취업을 준비하는 사람들과 네트워킹하고 싶다! 
<br /><br />※별도 기재되어있지 않는 경우, 서류 전형이 면제되고 당일 면접 참여 가능!
</p>

  <LinkButton href="https://cafe.naver.com/koreccafe/6981" icon="external" target="_blank">
    KMU 모음
  </LinkButton>
